<div class="glass">
    <div class="red white-border"></div>
    <div class="gray white-border"></div>
    <img class="cropped-image" src="{{imgSrc}}"/>
</div>
<div class="control-wrapper" >

    <slider ng-class="{ 'hidden' : calculated.MAXZF == calculated.MINZF}"
            ng-model="calculated.zoomFactor"
            min="calculated.MINZF"
            step="calculated.zoomStep"
            max="calculated.MAXZF"
            value="calculated.zoomFactor">

    </slider>
    <span ng-class="{ 'hidden' : calculated.MAXZF != calculated.MINZF}" class="control-message">
        Zooming not available: low-res image
    </span>

</div>

