layer-image {
    cursor: -webkit-grab;
    position: relative;
    display: block;
    overflow: hidden;
    border: 1px solid #ccc;
}

layer-image .red {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 42;
}

layer-image .gray {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 42;
}

layer-image img.cropped-image {
    position: absolute;
    z-index: 41;
}
